@font-face {
    font-family: 'Balto';
    src: url("fonts/Balto-Book.woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Balto';
    src: url("fonts/Balto-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Balto';
    src: url("fonts/Balto-Bold.woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Balto';
    src: url("fonts/Balto-Black.woff");
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: 'KyivType';
    src: url("fonts/KyivType-Sans-Heavy.otf");
    font-weight: 700;
    font-style: normal;
}

:root{
    --flowerbed: rgb(25,65,76);
    --yellow: rgb(255, 223, 54);
    --purple: rgb(247, 199, 255);
    --green: rgb(196, 236, 153);
    --blue: #abfef2;
}

.font-xxxl{
    font-size: 10rem;
}
.font-xxl{
    font-size: 6rem;
}
.font-xl{
    font-size: 3rem;
}
.font-l{
    font-size: 2.75rem;
}
.font-m{
    font-size: 2rem;
}
.font-sm{
    font-size: 1.75rem;
}
.font-s{
    font-size: 1.25rem;
}
.bold{
    font-weight: 600;
}
.x-bold{
    font-weight: 700;
}
.italic{
    font-style: italic;
}
.headline{
    font-family: "KyivType";
}
.highlight-yellow{
    background-color: var(--yellow);
    padding: 2px 5px;
}
.highlight-purple{
    background-color: var(--purple);
    padding: 2px 5px;
}
.highlight-green{
    background-color: var(--green);
    padding: 2px 5px;
}
.highlight-blue{
    background-color: var(--blue);
    padding: 2px 5px;
}
.underline{
    text-decoration: underline var(--purple);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Balto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

html{
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

body{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100vw;
    opacity: 0;
}
a:visited:not(.cta-link){
    color: blue
}

/* NAV */
nav{
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100vw;
    max-width: 1800px;
    padding: 15px 5% 0px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    mix-blend-mode: exclusion;
}
.nav-link-wrap{
    height: fit-content;
}
.nav-link{
    text-decoration: none;
    color: white;
    transition: all .3s;
}
.nav-link:focus{
    outline: none;
}
.nav-link:visited{
    color: white;
}
.nav-link-wrap::after{
    content: "";
    width: 100%;
    height: 4px;
    background-color: white;
    display: inline-block;
    position: relative;
    transform: translate(0, 0px);
    opacity: 0;
    visibility: hidden;
    transition:  all .3s;
}
@media (hover:hover){
    .nav-link-wrap:hover::after, .nav-link:focus .nav-link-wrap::after{
        transform: translate(0, -10px);
        opacity: 1;
        visibility: visible;
    }
}


/* HERO */
.hero{
    position: relative;
    height: auto;
    min-height: 100lvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hcw{
    height: 100%;
    width: 100%;
    max-width: 1800px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
}
.bg-names{
    overflow: hidden;
    opacity: .13;
    z-index: 0;
    color: #ddd;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100lvh;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    row-gap: 5px;
}
.bg-line{
    width: 200vw;
    overflow: hidden;
    display: flex;
    gap: 50px;
    opacity: 0;
    transform: translate(-400px);
}
.bg-line:nth-of-type(2n){
    transform: translate(10px);
}
.bg-line svg, .bg-line img{
    height: 100%;
    width: auto;
    object-fit: fill;
}
.meta-holster{
    z-index: 2;
}
.name-holster{
    line-height: 8em;
    padding: 100px 0 0 0;
}
.name{
    display: flex;
    justify-content: center;  
    align-items: end;
}
.name span{
    font-family: "KyivType";
    z-index: 10;
}
.name1, .name2, .space{
    display: flex;
}
.smiley-holster{
    position: relative;
    display: flex;
    height: fit-content;
}
.smiley-face{
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.title{
    padding: 35px 0 0 0;
    text-align: center;
    align-self: center;
}
.intro, .project{
    z-index: 100;
    width: fit-content;
    height: fit-content;
}
.intro{
    padding: 0 10%;
}
.intro-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
.bubble{
	height: auto;
	background: white;
	display: flex;
    flex-direction: column;
	border-radius: 70px;
	text-align: center;
    padding: 40px 25px 50px;
    z-index: 100;
    transition: all .5s;
    overflow: hidden;
    gap: 2rem;
    max-width: 800px
}
.bubble h3{
    line-height: 2.5rem;
}
.p-bubble{
    margin: 0;
}
.pointer, .pointer2 {
	height: 40px;
	width: 40px;
	background: white;
	margin: -22px auto 0;
	transform: rotate(45deg);
	border-radius: 0 0 12px 0;
	position: relative;
	left: -20%;
    z-index: -1;
}
.bubble, .pointer{
    outline: 9px solid black
}
.pointer2{
    transform: rotate(45deg) translate(-12.5px, -12.5px);
    background-color: white;
    outline: none;
    z-index: 99;
}
.p3{
    left: 20%
}
.pm{
    left: 0%
}

/* PROJECTS */
.project-bubbles{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects{
    padding: 150px 5% 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    height: auto;
    max-width: 1600px;
    width: 100%;
}
.projects .intro{
    max-width: none;
}
.js-pop-up{
    height: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .5s;
}
.inner-project-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 100%;
}
.span2{
    width: 100%;
}
.project{
    width: 100%;
    transition: all .5s;
}
.project2{
    margin-top: 150px;
}
.project3, .project6{
    grid-column: span 2;
    width: 100%;
    max-width: 800px;
}
.project4{
    margin-top: 100px;
}
.project5{
    margin-top: 250px;
}
.b2, .b3{
    margin: 0;
    width: 100%;
    padding: 0 0 25px;
}
button{
    color: black
}
button:focus{
    outline: none;
}
button:focus .bubble, button:focus .pointer:not(.pointer2){
    outline-style: dashed;
}
.bub-img{
    padding: 2rem 0 0 0;
    object-fit: contain;
}
.bub-txt{
    padding: 45px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bub-large{
    justify-content: space-between;
    padding-bottom: 25px;
    max-width: 100%;
}

.bub-txt h4{
    margin-bottom: 25px;
}
.bub-meta{
    background-color: #eeeeee;
    padding: 5px 10px;
    width: fit-content;
    align-self: center;
    border-radius: 8px;
    border: 2px solid black;
}
.bub-meta span{
    word-wrap: nowrap;
    white-space: nowrap;
}
.bmh, .dmw{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px 0 0 0;
}
/* @media (hover:hover){ */
    .project3:hover, .project3:focus, .blog-post:hover, .blog-post:focus{
        transform: translate(0px, 20px);
    }
    .project3:hover .bubble, .project3:focus .bubble, .blog-post:hover .bubble, .blog-post:focus .bubble{
        box-shadow: 0px -13px 30px 6px #b6b6b6;
    }
/* } */
/* DIALOG */
dialog{
    display: none;
    flex-direction: column;
    align-self: center;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
dialog::-webkit-scrollbar {
    display: none;
}
dialog:modal{
    display: flex;
    align-self: center;
    justify-self: center;
    margin: 10vh 5% 0;
    width: 90%;
    max-height: 90vh;
    min-height: 90vh;
    border: none;
    transform: translate(0, 100vh);
    overscroll-behavior: contain;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 0 0 50px;
    outline: 9px solid black;
}
.x{
    width: 50px;
    min-height: 50px;
    border: none;
    background-color: rgb(122, 122, 122);
    border-radius: 10px;
    align-self: flex-end;
    color: white;
    cursor: pointer;
    transition: 
        background-color .5s,
        box-shadow .6s,
        outline .5s;
    position: absolute;
    top: 50px;
    z-index: 1000;
}
.x:hover, .x:focus{
    box-shadow: 0 0 10px 2px #a5a5a5;
    background-color: rgb(231, 64, 64);
}
.x:focus{
    outline: 2px solid red;
    outline-offset: 3px;
}
.d-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1800px;
    top: 0;
}
.d-meta-holster{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    padding: 50px 50px 25px;
    z-index: 1000;
}
.d-meta{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2rem;
}
.d-title{
    width: 50%;
}
.d-meta-span{
    align-self: first baseline;
}
.dmw{
    display: flex;
    gap: 10px;
    justify-content: start;
}
.d-content-holster{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    column-gap: 100px;
    row-gap: 7.5rem;
    overflow-x: hidden;
}
.dcw{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.dcw img{
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}
.d-txt{
    line-height: 1.5em;
    font-size: 1.5rem;
    top: 0;
    z-index: 0;
    width: 100%;
}
.d-txt *{
    line-height: 1.5em;
    font-size: 1.5rem;
}

/* BLOG */
.blog{
    padding: 75px 0 150px;
}
.blog .bubble h3{
    padding: 2rem;
    line-height: 3.25rem;
}
.blog-post{
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .5s;
}
.d-blog{
    font-size: 1.75rem;
    line-height: 2.5rem;
    max-width: 800px;
}
.d-blog-meta{
    padding-bottom: 50px;
}

/* FOOTER */
.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.footer-content-wrap{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 3rem 0;
}
.chat{
    white-space: pre-wrap;
}
.cta-title-holster{
    align-self: center;
}
.cta-wrap{
    display: grid;
    grid-template-columns: auto auto;
    align-self: center;
    column-gap: 100px;
    padding: 0 0 75px;
}
.cta-holster{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cta{
    padding: 0 0 25px;
}
.cta-svg{
    padding: 10px 0 50px;
}
.cta-svg svg{
    width: 200px;
    height: 150px;
}
#people{
    height: 330px
}
.cta-link{
    padding: 25px;
    background-color: rgb(212, 255, 133);
    padding: 25px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    border: 1px solid #b5b5b5;
    white-space: nowrap;
    transition: all .3s;
    text-align: center;
}
.cta-holster:last-of-type .cta-link{
    background-color: rgba(255, 201, 53, 0);
    transition: all .3s;
}
@media (hover:hover){
    .cta-link:hover, .cta-link:focus{
        background-color: #abfef2;
    }
    .cta-holster:last-of-type .cta-link:hover, .cta-holster:last-of-type .cta-link:focus{
        background-color: #abfef2;
    }
}
dotlottie-player{
    margin-left: -75px;
    margin-right: -75px;
    min-width: 50%;
    max-height: 20vh;
}
.flowerbed{
    display: flex;
    
}
.flower-holster{
    position: relative;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    height: 100px;
    margin-bottom: 0px;
}
.credit{
    width: 100%;
    height: 10px;
    background-color: var(--flowerbed);
}
@media screen and (max-width:1366px) {
    /* HERO */
    .intro{
        max-width: 90%;
    }
    .name{
        flex-direction: column;
    }
    .space{
        display: none;
    }
    .name1{
        align-self: center;
        height: fit-content;
    }
    .name2{
        align-self: center;
    }
    .title{
        padding: 55px 10px 0;
    }
    .bg-line{
        column-gap: 25px;
    }
    .bg-line svg{
        height: auto;
        width: 400px;
        overflow: visible;
    }
    /* PROJECTS */
    .projects{
        display: flex;
        flex-direction: column;
    }
    .project2, .project5{
        margin-top: 100px;
    }
}
@media screen and (max-width: 950px) {
    .flower-holster{
        height: 80px;
    }
}
@media screen and (min-width: 1280px) {
    .flower-holster{
        height: 150px;
    }
}
@media screen and (min-width: 1920px) {
    .flower-holster{
        height: 180px;
        max-height: 200px;
    }
}

@media screen and (max-width: 1200px) {
    .dcw{
        grid-template-columns: auto;
        gap: 5rem;
    }
    .dcw img{
        width: 100%;
        justify-self: center;
    }
}
@media screen and (max-width: 800px) {
    .font-xxxl{
        font-size: clamp(3.5rem, 0.5459rem + 20.4082vw, 10.75rem);
    }
    .font-xxl{
        font-size: clamp(2rem, 0.5459rem + 10.4082vw, 5rem);
        text-align: center;
        align-items: center;
    }
    .font-l{
        font-size: clamp(2rem, 1.3673rem + 3.2653vw, 3rem);
    }
    .font-m{
        font-size: clamp(1.5rem, 1.0255rem + 2.449vw, 2.25rem);
    }
    .name-holster{
        line-height: clamp(3rem, 0rem + 20.0082vw, 10.75rem);
        padding-top: 75px;
    }
    .title{
        padding-top: 35px;
        line-height: clamp(2rem, 1.3673rem + 3.2653vw, 3rem);
    }
    .name1{
        text-align: center;
    }
    .intro{
        padding: 0;
    }
    .intro-wrap{
        padding-top: 15%;
    }
    .smiley-face{
        height: clamp(2.5rem, 0.3253rem + 10.2245vw, 5.7375rem);
        margin-bottom: 2%;
    }
    .bub-large div .bub-img{
        height: 200px
    }
    .cta-wrap{
        grid-template-columns: auto;
        row-gap: 50px;
    }
    .cta{
        padding: 0 0 0 15px;
    }
    .cta-svg{
        padding: 10px 0px 10px 10px;
        display: flex;
        align-items: right;
        justify-content: right;
    }
    .cta-svg svg{
        width: 100px;
        height: 60px;
    }
    .cta-holster{
        display: grid;
        grid-template-columns: auto auto;
    }
    .cta-holster a{
        grid-column: span 2;
    }
    dialog{
        padding-top: 10vh;
    }
    dialog:modal{
        max-width: 100vw;
        max-height: 90vh;
    }
    .d-meta-holster, .d-content-holster{
        padding-left: 25px;
        padding-right: 25px;
    }
    .d-content-holster{
        gap: 25px
    }
    .d-meta-holster{
        padding-top: 25px;
    }
    .x{
        top: 25px;
    }
    .dcw img{
        max-width: none;
    }
}
@media screen and (max-width: 750px) {
    .flower-holster{
        height: 60px;
    }
}
@media screen and (max-width: 475px) {
    .flower-holster{
        height: 50px;
    }
}
@media (prefers-color-scheme: dark) {
    body, dialog, .d-content, .d-meta-holster, .bubble, .pointer{
        background-color: rgb(27, 27, 27);
    }
    .bubble, .pointer, dialog:modal {
        outline-color: white;
    }
    p, span, h1, h2, h3, h4, h5, h6, .cta-holster:last-of-type .cta-link {
        color: white
    }
    #Email, #people{
        fill: white;
        stroke: white;
    }
    #smiley-fill{
        stroke-width: 2;
        stroke: white;
    }

    .highlight-blue, .highlight-green, .highlight-purple, .highlight-yellow{
        color: black
    }
    .bub-meta{
        background-color: rgb(44, 44, 44);
        border-color: white;
    }
    a, a:visited {
        color: rgb(171, 254, 242);
    }
    .cta-holster:last-of-type .cta-link:hover {
        color: black
    }
}